html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

img {
  max-width: 100%;
}

header, section, article {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/*
*
*
hero-img
*
*
*/

.hero-img {
  text-align: center;
  background: url(../img/half-moon-bay.jpg) no-repeat 45% fixed padding-box;
  margin: 0;
  height: 60%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: white;
}

.personal-photo {
  max-height: 30%;
  width: auto;
  border-radius: 100%;
  box-shadow: 5px 3px 15px 1px rgba(0,0,0,0.35);
  margin: 10px 0 10px 0;
}

.name {
  width: 100%;
  margin: 0;
}

.subtitle {
  width: 100%;
  margin: 0;
  padding: 0 0 15px 0;
}

/*
*
*
featured-work
*
*
*/

.featured-work {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-work-title {
  text-align: center;
  min-width: 100%;
  font-size: 120%;
}

.divider {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 0 0 20px 0;
}

.site-snippet {
  max-width: 50%;
  text-align: center;
  padding: 15px;
}

.site-thumbnail {
  box-shadow: 5px 3px 15px 1px rgba(0,0,0,0.35);
}

/*
*
*
footer
*
*
*/

footer {
  width: 100%;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.26);
  padding: 20px 0 5px 0;
  bottom: 0;
  background: #e6e6e6;
}

footer p {
  margin-bottom: 0;
}

.social-row {
  font-size: 70%;
}

.logo {
  color: white;
}

.linkedin-icon .backing {
  color: #0077B5;
}

.github-icon .backing {
  color: #6cc644;
}

.free-code-camp-icon .backing {
  color: #036301;
}

.icon:hover .backing {
  color: white;
}

.icon:hover .logo {
  color: black;
}

/*
*
*
media queries
*
*
*/

@media screen and (max-width: 550px) {
  body {
    font-size: 80%;
  }
}


@media screen and (max-width: 770px) {
  .site-snippet {
    min-width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
  }
}

@media screen and (min-width: 1441px) {
  body {
    font-size: 120%;
  }

  .site-snippet {
    width: 33.333%;
  }
}

@media screen and (min-width: 2001px) {
  body {
    font-size: 150%;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
  }
}
